{% load static %}

<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50"> 
    <div class="w-6/12"> 
        <a href="/">
            <img class="w-3/12" src="{% static 'images/logo2.png' %}">
        </a>
    </div>

    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <form method="get" action="{% url 'incorporador:pesquisa' %}">
                <input type="text" class="py-1 px-2 rounded-md text-black" name="query" value ="{{request.GET.query}}" placeholder="Pesquisar..."> 
            </form>
        </div>

        <div class="mr-2">
            {% if user.is_authenticated%}
            <a href="{% url 'incorporador:logout' %}"> 
                <button class="bg-blue-600 text-shite py-1 px-3 rounded-md"> 
                    Sair
                </button>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'incorporador:editarperfil' request.user.id %}">
                <button class="bg-blue-600 text-shite py-1 px-3 rounded-md"> 
                    Editar Perfil
                </button>
            {% endif %}
            </a>
            {% else %}
            <a href="{% url 'incorporador:login' %}"> 
                <button class="bg-blue-600 text-shite py-1 px-3 rounded-md"> 
                    Login
                </button>
            </a>
            {% endif %}
        </div>
    </div>

</nav>